.card {
    margin: 10px;
    width: 20%;

    padding: 10px 20px;

    background: #1f1f1f;
    color: white;
    display: inline-block;
    border-radius: 10px;
}
.card .name {
    border-bottom: 1px solid white;
}
.card .image {
    width: 100%;
    height: 10%;
}
.card  img {
    width: 100%;
    height: 100%;
    background: #161616;
    border-radius: 5px;
}
.card .tags { text-align: center; display: inline-flex;}
.card .tags span {
    background: #161616;
    padding: 5px 5px;
    margin: 15px 5px;
    border-radius: 10px;
}