.doujin {
    width: 90%;
    height: 100%;
    padding: 10px 10px;
    color: white;
    display: flexbox;}

.doujin .header {
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.doujin .header .name {
    border-bottom: 1px solid white;
}
.doujin .header .image {
    width: 20%;
    height: 100%;
    background: #1f1f1f;
    padding: 10px 10px;
    margin: 5px 5px;
    border-radius: 10px;
}
.doujin .header .cont {
    width: 70%;
    height: 100%;
    background: #1f1f1f;
    padding: 10px 10px;
    margin: 5px 5px;
    border-radius: 10px;
}
.doujin .header .image img {
    text-align: center;
    width: 100%;
    height: 100%;
    background: #161616;
    border-radius: 5px;
}
.doujin .tags span {
    background: #161616;
    padding: 2px 2px;
    margin: 5px;
    border-radius: 10px;
}

.doujin .pages {
    width: 91%;
    padding: 10px 10px;
    color: white;
    border-radius: 10px;
    background: #1f1f1f;
    margin: 10px;
    text-align: center;

}
.doujin .pages img {
    width: 80%;
    margin: 10px;
}