body {
    margin: 0;
    padding: 0;

    background: #161616;
}

.content {
    position: fixed;

    width: 100%;
    height: 100%;
}

.search {
    width: 100%;
    height: 15%;
    background: #1f1f1f;
    text-align: center;
}
.search input {
    width: 50%;
    padding: 10px 10px;
    color: white;
    background: #161616;
    border: none;
    border-radius: 10px;
    outline: none;
}
.search input[type="button"] {
    width: 20%;
}
.content-body {
    width: 100%;
    height: 85%;
    overflow: auto;
    background: #161616;
}

.pager {
    text-align: center;
    width: 50%;
    padding: 5px 10px;
    background: #1f1f1f;
    color: white;
    margin: 10px auto;
    border-radius: 10px;
}
.pager #paginator {
    padding: 5px 5px;
    background: #161616;
    margin: 5px 5px;
    border-radius: 50px;
}